body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar_logo {
  font-size: 40px;
  height: 150px;
  width: 400px;
  background-color: skyblue;
  text-align: center;
}

.navbar_logo a i {
  padding-top: 40px;
  font-weight: bold;
  color: white;
  font-size: 60px;
}

.navbar_logo a i span1 {
  font-family: "EB Garamond", serif;
  font-size: 20px;
  font-weight: bold;
}

.navbar_logo a i span2 {
  font-family: "EB Garamond", serif;
  font-size: 40px;
  font-weight: bold;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 30px;
}

#topMenu {
  padding-right: 0px;
  padding-top: 50px;
  height: 30px;
  width: 900px; /* [변경] 하위 메뉴와 동일하게 맞춤 */
  position: relative;
}
#topMenu ul {
  /* 메인 메뉴 안의 ul을 설정함: 상위메뉴의 ul+하위 메뉴의 ul */
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
#topMenu ul li {
  /* 메인 메뉴 안에 ul 태그 안에 있는 li 태그의 스타일 적용(상위/하위메뉴 모두) */
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  -position: relative;
}

#topMenu ul {
  display: flex;
  justify-content: space-between;
}

#topMenu ul li .submenu {
  display: inline-block;
  text-align: center;
}

.topMenuLi a {
  width: 350px;
  height: 70px;
  padding-top: 30px;
}

.menuLink {
  /* 상위 메뉴와 하위 메뉴의 a 태그에 공통으로 설정할 스타일 */
  text-decoration: none;
  display: block;
  height: 100px;
  width: 155px;
  font-size: 30px;
  font-family: "Gowun Batang", serif;
}

#topMenu .topMenuLi .menuLink::after {
  display: block;
  padding-top: 20px;
  content: "";
  border-bottom: solid 3px skyblue;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

#topMenu .topMenuLi:hover .menuLink::after {
  transform: scaleX(0.5);
}

.submenu {
  /* 하위 메뉴 스타일 설정 */
  position: absolute;
  background-color: rgba(248, 247, 247, 0.829);
  height: 0px;
  overflow: hidden;
  transition: height 0.2s;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  -o-transition: height 0.2s;
  width: 100vw;
  left: -400px;
}

.submenu li {
  display: inline-block;
}

.submenuLink {
  /* 하위 메뉴의 a 태그 스타일 설정 */ /* [변경] 배경색 변경 */
  text-decoration: none;
  display: inline-block;
  font-family: "Gowun Batang", serif;
  font-weight: bold;
  font-size: 20px;
}

.topMenuLi:hover .submenu {
  height: 80px;
}

#topMenu .topMenuLi .submenuLink::after {
  display: block;
  padding-top: 2px;
  content: "";
  border-bottom: solid 3px skyblue;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

#topMenu .topMenuLi .submenu .submenuLink:hover::after {
  transform: scaleX(0.3);
}

.content img {
  width: 100vw;
  height: 80vh;
}

#startcontent {
  position: absolute;
  bottom: 40vh;
  left: 10vw;
  font-family: "Gowun Batang", serif;
  font-weight: bold;
  font-size: 70px;
  color: rgba(0, 0, 0, 0.726);
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#startcontent #content1 {
  color: black;
}

#startcontent {
  -webkit-animation: startcontent 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: startcontent 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes startcontent {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes startcontent {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

#content2 {
  font-size: 40px;
}

#content2 {
  -webkit-animation: content2 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: content2 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes content2 {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes content2 {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

#startBtn {
  width: 300px;
  height: 80px;
  border-radius: 50px;
  font-family: "Gowun Batang", serif;
  font-size: 25px;
  font-weight: bold;
  background: #b2fefa; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #0ed2f7,
    #b2fefa
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #0ed2f7,
    #b2fefa
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#startBtn:hover {
  background: skyblue;
}

/* @media screen and (max-height: 1100px) { 
  #startcontent {
    bottom: 20vh;
  }
} */
